:root{
    --colorPrincipal: #fb5607;
    --colorSecundario: #ffbe0b;
    --colorTerciario: #FF006E;
    --colorCuateario: #8338ec;
    --colorQuinternario: #3A86FF;
    --fondo: #e9e9e9;
    --Titles: #454545;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    list-style: none;
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    width: 80%;
    margin: auto;
}
.text-center{
    text-align: center;
}
h1,h2,h3,h4,h5{
    color: var(--Titles);
}
.flex{
    display: flex;
    align-items: center;
}
/* ------------------------------------------------------------ */
/* Header */
/* ------------------------------------------------------------ */
header{
    padding: 18px;
    background-color: #07070767;
}
header nav img{
    width: 150px;
}
.header-nav-bar{
    justify-content: space-between;
}
.header-nav-item-ul{
    display: flex;
    width: 100%;
    align-items: center;
}
.header-nav-item-ul li{
    display: flex;
    justify-content: space-around;
}
.header-nav-item-ul li a{
    padding: 10px 15px;
    color: white;
}
.header-nav-item  i{
    display: none;
}
.btn-login{
    color: white;
    background-color: var(--colorPrincipal);
    border: 0;
    border-radius: 5px;
}
/* ------------------------------------------------------------ */
/* video  */
/* ------------------------------------------------------------ */
.video-background{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    filter: brightness(0.7);
}
/* ------------------------------------------------------------ */
/* main */
/* ------------------------------------------------------------ */
.main-title{
    margin-top: 5%; 
    padding: 8%;
    font-size: 3em;
}
main,main h1{
    color: white;
    margin-bottom: 0.2em;
}
.main-cite{
    font-size: 0.5em;
    font-weight: 300;
}
.main-title hr{
    margin-top: 0.2em;
    width: 50%;
}
/* ------------------------------------------------------------ */
/* country */
/* ------------------------------------------------------------ */
.country{
    min-width: 100%;
    margin-top: 18rem;
    padding: 50px 0;
    background-color: var(--fondo);
}
.country-content-card{
    margin-top: 35px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.country-card{
    width: 275px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 8px 0px #2e2e2e63;
    margin-bottom: 15px;
}
.country-card img{
    width: 100%;
}
.country-card p{
    padding-bottom: 15px;
}
.country-card b{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: relative;
    float: right;
    color: white;
    background-color: var(--colorPrincipal);
}
.country-card b:hover{
    color: rgb(8, 8, 8);
    background-color: var(--colorSecundario);
    transition: 1s;
}
/* ------------------------------------------------------------ */
/* traveler */
/* ------------------------------------------------------------ */
.traveler{
    background-color: var(--fondo);
    padding: 125px 0px;
}
.traveler-body{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.traveler-content{
    width: 500px;
    margin: 55px;   
}
.traveler-img img{
    width: 300px;
    border-radius: 8px;
    box-shadow:  0px 5px 10px 2px #757575;
}
.traveler-content h2{
    font-size: 30px;
}
/* ------------------------------------------------------------ */
/* enterprise-or-traveler */
/* ------------------------------------------------------------ */
.enterprise-or-traveler{
    padding: 25px;
    background-color: #dfdfdf;
}
.enterprise-or-traveler-content1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px;
}
.enterprise-or-traveler-content2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: 25px;
}
.enterprise-or-traveler h2{
    font-size: 30px;
    margin-bottom: 5px;
}
.enterprise-or-traveler img{
    width: 400px;
}
.btn{
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    color: white;
    background-color: var(--colorQuinternario);
    border-radius: 50px;
}
/* ------------------------------------------------------------ */
/* mail */
/* ------------------------------------------------------------ */
.mail{
    padding: 150px 0px;
    background-color: var(--fondo);
}
.mail-content{
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mail-content-text{
    width: 500px;
}
.mail-content-text h2{
    font-size: 40px;
}
.mail-content-text a{
    margin-top: 10px;
}
/* ------------------------------------------------------------ */
/* footer */
/* ------------------------------------------------------------ */
footer{
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 150px 35px;
    color: white;
    background-color: #0b090a;
}
footer img{
    width: 300px;
    margin-bottom: 35px;
}
.footer-copyright{
    padding: 12px;
    color: white;
    text-align: center;
    background-color: #1d1d1d;
}
.footer-icons a{
    margin-right: 8px;
    font-size: 22px;
    color: white;
}

/* ------------------------------------------------------------ */
/* Página ASIA - API */
/* ------------------------------------------------------------ */
.countries h1{
    margin-top: 75px;
    margin-bottom: -50px;
}
#countries{
    padding-top: 100px;
    width: 50%;
    margin: auto;
}
#countries .countries-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.431);
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px;
}
.countries-head img{
    width: 350px;    
    margin-right: 35px;
}

@media screen and (max-width: 480px){
    .main-title{
        margin-top: 12rem;
        text-align: center;
        font-size: 1.5em;
    }

    .main-title hr{
        width: 100%;
    }
}

